@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  background-color: transparent;
  color: #111111;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 40px;
  border: red 3px solid;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(252, 107, 107);
}

header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
header i {
  color: #999999;
  font-size: 2rem;
}

.section1 {
  padding-top: 5rem;
  position: relative;
  width: 70%;
  margin-bottom: 5rem;
}
.section1 h4 {
  font-size: 1rem;
  color: #ff3998;
  font-weight: 700;
}
.section1 h1 {
  font-size: 3rem;
  color: #111111;
  font-weight: 900;
}
.section1 p {
  font-size: 20px;
  color: #555555;
  font-weight: 400;
}
.section1 img {
  position: absolute;
  transform: translate(150px, -600px);
}

.section2 {
  position: relative;
  margin-bottom: 5rem;
  text-align: center;
}
.section2 img {
  position: absolute;
  z-index: -1;
  height: 326px;
}
.section2 h2 {
  padding-top: 1rem;
  font-size: 40px;
  font-weight: 500;
}
.section2 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #555555;
}

.section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
  margin-bottom: 5rem;
}

.section4 h2 {
  font-size: 40px;
  font-weight: 500;
  color: #111111;
}
.section4 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #555555;
}
.section4 p a {
  text-decoration-line: underline;
}

.nfts {
  background-color: #eeeeee;
  border-radius: 16px;
  margin-bottom: 8rem;
}
.nfts .series {
  color: #ff8139;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
}
.nfts .color {
  color: #111111;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}
.nfts .number {
  color: #777777;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
}
.nfts .bid {
  color: #777777;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
}
.nfts .eth {
  color: #111111;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}
.nfts .time {
  color: #777777;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
}

.section5 {
  position: relative;
  border-top: 2px solid #555555;
  border-bottom: 2px solid #555555;
}

footer .links {
  color: #555555;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
footer .linksimg {
  display: block;
}
footer .links h4 {
  display: block;
}
footer .links .about {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-basis: 40%;
}
footer .links .about h3 {
  font-size: 16px;
  font-weight: 700;
}
footer .links .about a {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}
footer .links .nft {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-basis: 40%;
}
footer .links .nft h3 {
  font-size: 16px;
  font-weight: 700;
}
footer .links .nft a {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}
footer .links .contact {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-basis: 40%;
}
footer .links .contact h3 {
  font-size: 16px;
  font-weight: 700;
}
footer .links .contact a {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}
footer .links .social {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  flex-basis: 40%;
}
footer .links .social h3 {
  font-size: 16px;
  font-weight: 700;
}
footer .links .social a {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}
footer p {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  color: #999999;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  padding: 0 2rem;
}/*# sourceMappingURL=main.css.map */