@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.section1-hero .text,
.section5-footer-upsell .text {
  font-size: 20px;
}
.section1-hero .text h4,
.section5-footer-upsell .text h4 {
  font-size: 1rem;
  color: #ff3998;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.section1-hero .text h1,
.section5-footer-upsell .text h1 {
  color: var(--h-color);
  font-weight: 900;
}
.section1-hero .text p,
.section5-footer-upsell .text p {
  color: var(--text-color);
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 2rem;
}
.section1-hero .btn,
.section5-footer-upsell .btn {
  width: 188px;
  height: 75px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--text-color);
  text-align: center;
  background-image: url(../assets/background.svg);
  background: transparent;
  background-size: cover;
  text-align: center;
  border: 4px solid rgb(255, 85, 0);
  border-radius: 100px;
  padding: 14px 48px 15px 48px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.section1-hero .btn:hover,
.section5-footer-upsell .btn:hover {
  background-image: url(../assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  top: 0;
  padding: 2rem 2rem;
  background-color: var(--background-color);
  justify-content: space-between;
  align-items: flex-start;
}
header input {
  display: none;
}
header input:checked {
  --background-color: #111111;
  --h-color: #ffffff;
  --p-color: #999999;
  --text-color: #cccccc;
  --card-color: #000000;
  --logo-color: invert(100%);
}
header label {
  cursor: pointer;
}
header .logo {
  filter: var(--logo-color);
  height: 36px;
}
header .burger {
  color: #999999;
  font-size: 28px;
}
header .nav {
  justify-content: flex-end;
  display: none;
  color: var(--text-color);
  width: 367px;
  font-size: 20px;
  gap: 28px;
}
header .nav .pink {
  color: #ff3998;
}

.section1-hero {
  background-image: url(../assets/graphic.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 205px -30px;
  background-attachment: local;
  margin-top: 104px;
  padding: 4rem 2rem 4rem 2rem;
}
.section1-hero .text {
  width: 75%;
}
.section1-hero .text h1 {
  font-size: 48px;
}

.section2-upsell {
  background: url(../assets/background.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.section2-upsell .text {
  padding: 90px 32px 32px 32px;
}
.section2-upsell .text h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48.41px;
  color: #111111;
}
.section2-upsell .text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #111111;
  margin-bottom: 0;
}

.section3-press {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 2rem;
}
.section3-press .trim {
  width: 216.12px;
  height: 40.7px;
  overflow: hidden;
  transform: translateX(-80px);
}
.section3-press .trim img {
  margin: 0 0 0 80px;
}
.section3-press .openDoor {
  display: none;
}

.section4-showcase {
  width: 100%;
  padding: 2rem 0 6rem 2rem;
}
.section4-showcase .auction {
  padding-bottom: 2rem;
}
.section4-showcase .auction h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}
.section4-showcase .auction p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #555555;
  padding-right: 2rem;
}
.section4-showcase .auction p a {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}
.section4-showcase .nfts {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 40px;
}
.section4-showcase .nfts .nft {
  min-width: 290px;
  background-color: var(--card-color);
  border-radius: 16px;
}
.section4-showcase .nfts .nft-info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
}
.section4-showcase .nfts .nft-info .left {
  text-align: left;
  align-items: flex-end;
}
.section4-showcase .nfts .nft-info .left .series {
  color: #ff8139;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
  text-transform: uppercase;
}
.section4-showcase .nfts .nft-info .left .color {
  color: var(--text-color);
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}
.section4-showcase .nfts .nft-info .left .number {
  color: #777777;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 0;
}
.section4-showcase .nfts .nft-info .right {
  text-align: right;
}
.section4-showcase .nfts .nft-info .right .bid {
  color: #777777;
  font-size: 12px;
  line-height: 100%;
  font-weight: 500;
  text-transform: uppercase;
}
.section4-showcase .nfts .nft-info .right .eth {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  gap: 10px;
  color: var(--text-color);
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}
.section4-showcase .nfts .nft-info .right .time {
  color: #777777;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 0;
}

.section5-footer-upsell {
  background-image: url(../assets/upsell-footer-image.svg);
  background-size: 206px;
  background-repeat: no-repeat;
  background-position: 110% bottom;
  position: relative;
  padding: 64px 32px 66px 32px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}
.section5-footer-upsell .text {
  width: 56%;
}
.section5-footer-upsell .text h1 {
  font-size: 56px;
}
.section5-footer-upsell .line {
  width: 100%;
  height: 2px;
  left: 0px;
  position: absolute;
  background-color: #111111;
  opacity: 0.08;
  transform: translateY(-235px);
}
.section5-footer-upsell .full-text {
  display: none;
}

footer {
  padding: 4rem 2rem 6rem 2rem;
}
footer .logos .logo {
  filter: var(--logo-color);
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 28px;
}
footer .logos h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--text-color);
}
footer .logos i {
  font-size: 18px;
  color: #999999;
  padding-right: 5px;
}
footer .logos i .fa-facebook-square {
  border-radius: 50%;
  background-color: #999999;
}
footer .links {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  gap: 20px;
}
footer .links .about,
footer .links .nft,
footer .links .contact,
footer .links .social {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-basis: 40%;
  margin: 2rem 0;
}
footer .links .about h3,
footer .links .nft h3,
footer .links .contact h3,
footer .links .social h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
footer .links .about a,
footer .links .nft a,
footer .links .contact a,
footer .links .social a {
  font-size: 20px;
  font-weight: 400;
}
footer .end {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  color: #999999;
}
footer .end .launch {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    padding: 70px 80px;
    align-items: center;
  }
  header .burger {
    display: none;
  }
  header .nav {
    display: flex;
  }

  .section1-hero {
    background-size: 50%;
    background-position: 90% 90%;
    margin-top: 176px;
    padding: 80px;
  }
  .section1-hero .text {
    width: 44%;
  }
  .section1-hero .text h1 {
    font-size: 6rem;
  }

  .section2-upsell {
    padding: 80px;
  }
  .section2-upsell .text {
    padding: 154px 64px 64px 64px;
  }

  .section3-press {
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  .section3-press .trim {
    overflow: visible;
    transform: translateX(-100px);
  }
  .section3-press .trim img {
    margin: 0 0 0 100px;
  }
  .section3-press .openDoor {
    display: grid;
  }

  .section4-showcase {
    padding: 80px;
  }

  .section5-footer-upsell {
    background-position: 80% bottom;
    margin: 0 80px;
    padding: 122px 0;
  }
  .section5-footer-upsell p {
    width: 75%;
  }
  .section5-footer-upsell .line {
    display: none;
  }
  .section5-footer-upsell .short-text {
    display: none;
  }
  .section5-footer-upsell .full-text {
    display: block;
  }

  footer {
    padding: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  footer .links {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 590px;
  }
  footer .end {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
  }
  footer .end .launch {
    display: flex;
  }
}
:root {
  --background-color: #ffffff;
  --h-color: #111111;
  --p-color: #555555;
  --text-color: #555555;
  --card-color: #eeeeee;
}/*# sourceMappingURL=main.css.map */