.btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  background-color: transparent;
  color: #111111;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 40px;
  border: red 3px solid;
  cursor: pointer;
  &:hover {
    background-color: rgb(252, 107, 107);
  }
}
