footer {
  padding: 4rem 2rem 6rem 2rem;
  .logos {
    img {
      color: #111111;
      font-size: 28px;
      font-weight: 400;
      padding-bottom: 28px;
    }
    h4 {
      font-weight: 400;
      height: 20px;
      line-height: 100%;
      color: #555555;
    }
    i {
      font-size: 18px;
      color: #999999;
      padding-right: 5px;
      & .fa-facebook-square {
        border-radius: 50%;
        background-color: #999999;
      }
    }
  }
  .links {
    color: #555555;
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
    h4 {
      // display: block;
    }
    & .about,
    .nft,
    .contact,
    .social {
      display: flex;
      gap: 20px;
      flex-direction: column;
      flex-basis: 45%;
      margin: 2rem 0;
      h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.1em;
      }
      a {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  .end {
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    color: #999999;
    .launch {
      display: none;
    }
  }
}
