header {
  // dark theme colors //
  input {
    display: none;
    &:checked {
      --background-color: #111111;
      --h-color: #ffffff;
      --p-color: #999999;
      --text-color: #cccccc;
      --card-color: #000000;
      --logo-color: invert(100%);
    }
  }
  label {
    cursor: pointer;
  }
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  top: 0;
  padding: 2rem 2rem;
  background-color: var(--background-color);
  justify-content: space-between;
  align-items: flex-start;
  .logo {
    filter: var(--logo-color);
    height: 36px;
  }
  .burger {
    color: #999999;
    font-size: 28px;
  }
  .nav {
    justify-content: flex-end;
    display: none;
    color: var(--text-color);
    width: 367px;
    font-size: 20px;
    gap: 28px;
    .pink {
      color: #ff3998;
    }
  }
}
