header {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1;
  top: 0;
  padding: 2rem;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: flex-start;

  .logo {
    // font-size: 2rem;
  }
  .burger {
    color: #999999;
    font-size: 2rem;
  }
  .nav {
    display: none;
  }
}
