@media screen and (min-width: 768px) {
  header {
    padding: 70px 80px;
    align-items: center;
    .burger {
      display: none;
    }
    & .nav {
      display: flex;
    }
  }
  .section1-hero {
    background-size: 50%;
    background-position: 90% 90%;
    margin-top: 176px;
    padding: 80px;
    .text {
      width: 44%;
      h1 {
        font-size: 6rem;
      }
    }
  }
  .section2-upsell {
    padding: 80px;
    .text {
      padding: 154px 64px 64px 64px;
    }
  }
  .section3-press {
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    .trim {
      overflow: visible;
      transform: translateX(-100px);
    }
    .trim img {
      margin: 0 0 0 100px;
    }
    .openDoor {
      display: grid;
    }
  }
  .section4-showcase {
    padding: 80px;
  }
  .section5-footer-upsell {
    background-position: 80% bottom;
    margin: 0 80px;
    padding: 122px 0;
    p {
      width: 75%;
    }
    .line {
      display: none;
    }
    .short-text {
      display: none;
    }
    .full-text {
      display: block;
    }
  }
  footer {
    padding: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .links {
      display: flex;
      flex-wrap: nowrap;
      flex-basis: 590px;
    }
    .end {
      .launch {
        display: flex;
      }
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}
