* {
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --h-color: #111111;
  --p-color: #555555;
  --text-color: #555555;
  --card-color: #eeeeee;
  input {
    display: none;
  }
  // dark theme colors //
  input:checked {
    --background-color: #111111;
    --h-color: #ffffff;
    --p-color: #999999;
    --text-color: #cccccc;
    --card-color: #000000;
    --logo-color: invert(100%);
  }
  // ----------------- //
  label {
    cursor: pointer;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
