@media screen and (min-width: 768px) {
  header {
    align-items: center;
    .burger {
      display: none;
    }
    & .nav {
      display: flex;
    }
  }
  .section1-hero {
    h1 {
      font-size: 6rem;
    }
  }
  .section3-press {
    flex-wrap: nowrap;
    .openDoor {
      display: flex;
    }
  }
  .section5-footer-upsell {
    .line {
      display: none;
    }
  }
  footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .links {
      // display: flex;
      flex-wrap: nowrap;
      flex-basis: 50%;
      justify-content: space-between;
    }
    .end {
      .launch {
        display: flex;
      }
      display: flex;
      flex-basis: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}
