.section1-hero {
  background-image: url(../assets/graphic.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 205px -30px;
  margin-top: 104px;
  padding: 4rem 2rem 4rem 2rem;
  .text {
    width: 75%;
    h1 {
      font-size: 48px;
    }
  }
}
