.section3-press {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 2rem;
  .trim {
    width: 216.12px;
    height: 40.7px;
    overflow: hidden;
    transform: translateX(-80px);
  }
  .trim img {
    margin: 0 0 0 80px;
  }
  .openDoor {
    display: none;
  }
}
