.section3-press {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 2rem;
  .trim {
    // width: 150px;
    // width: 216.12px;
    // height: 40.7px;
    overflow: hidden;
  }
  .trim .boomerang {
    // width: 130px;
    // transform: translateX(-10rem);
    .openDoor {
      display: none;
    }
  }
}
