.section2 {
  text-align: left;
  position: relative;
  margin-bottom: 5rem;
  padding: 7rem 2rem 1rem 2rem;
  background: url(../assets/background.svg);
  background-repeat: no-repeat;
  // height: 100%;
  background-size: max(100% - 4rem, 40rem);
  background-position: center;
  // overflow: hidden;

  h2 {
    font-size: 40px;
    font-weight: 500;
    color: #111111;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #111111;
  }
}
