.section1 {
  position: relative;
  margin-top: 9rem;
  padding: 0 2rem;
  margin-bottom: 5rem;
  .text {
    width: 75%;
  }

  .graphic {
    display: none;
    // display: inline-flex;
    // position: absolute;
    // transform: translate(300px, -400px);
    // overflow: hidden;
  }
}
