.section5-footer-upsell {
  background-image: url(../assets/upsell-footer-image.svg);
  background-size: 206px;
  background-repeat: no-repeat;
  background-position: 110% bottom;
  position: relative;
  padding: 64px 32px 66px 32px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  .text {
    width: 56%;
    h1 {
      font-size: 56px;
    }
  }
  .line {
    width: 100%;
    height: 2px;
    left: 0px;
    position: absolute;
    background-color: #111111;
    opacity: 0.08;
    transform: translateY(-235px);
  }
  .full-text {
    display: none;
  }
}
