.section1 {
  padding-top: 5rem;
  position: relative;
  width: 70%;
  margin-bottom: 5rem;
  h4 {
    font-size: 1rem;
    color: #ff3998;
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
    color: #111111;
    font-weight: 900;
  }
  p {
    font-size: 20px;
    color: #555555;
    font-weight: 400;
  }
  img {
    position: absolute;
    transform: translate(150px, -600px);
  }
}
