@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import "reset";
@import "vars";
@import "btn";

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  margin-bottom: 1000px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  i {
    color: #999999;
    font-size: 2rem;
  }
}
.card {
  position: relative;
  width: 70%;
  margin-bottom: 5rem;
  h4 {
    font-size: 1rem;
    color: #ff3998;
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
    color: #111111;
    font-weight: 900;
  }
  p {
    font-size: 20px;
    color: #555555;
    font-weight: 400;
  }
  img {
    position: absolute;
    transform: translate(300px, -450px);
  }
}
.section {
  position: relative;
  margin-bottom: 5rem;
  img {
    position: absolute;
    // transform: translate(100px, 40px);
    z-index: -1;
    // height: 500px;
  }
  h2 {
    padding-top: 1rem;
    font-size: 40px;
    font-weight: 500;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #555555;
  }
}
.companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
  margin-bottom: 5rem;
}
.nft {
  h2 {
    font-size: 40px;
    font-weight: 500;
    color: #111111;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #555555;
    a {
      text-decoration-line: underline;
    }
  }
}
.nfts {
  background-color: #eeeeee;
  border-radius: 16px;
  margin-bottom: 8rem;
  .series {
    color: #ff8139;
    font-size: 12px;
    line-height: 100%;
    font-weight: 500;
  }
  .color {
    color: #111111;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
  }
  .number {
    color: #777777;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
  }
  .bid {
    color: #777777;
    font-size: 12px;
    line-height: 100%;
    font-weight: 500;
  }
  .eth {
    color: #111111;
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
  }
  .time {
    color: #777777;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
  }
}
.card2 {
  position: relative;
  border-top: 2px solid #555555;
  border-bottom: 2px solid #555555;
}
footer {
  .links {
    color: #555555;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    &img {
      display: block;
    }
    h4 {
      display: inline-block;
    }
    & .about {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      flex-basis: 40%;
      h3 {
        font-size: 16px;
        font-weight: 700;
      }
      a {
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
      }
    }
    & .nft {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      flex-basis: 40%;

      h3 {
        font-size: 16px;
        font-weight: 700;
      }
      a {
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
      }
    }
    & .contact {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      flex-basis: 40%;

      h3 {
        font-size: 16px;
        font-weight: 700;
      }
      a {
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
      }
    }
    & .social {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      flex-basis: 40%;

      h3 {
        font-size: 16px;
        font-weight: 700;
      }
      a {
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
      }
    }
  }
  p {
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    color: #999999;
  }
}
